<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataInterruption.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>518D0EF91C8EE6810088E8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>518D0F151C8EE6810088E8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>518D0F201C8EE6810088E8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
