<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeblinkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51DFF1E01C1D607A00EF0AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51DFF1FC1C1D607A00EF0AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51DFF2071C1D607A00EF0AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
